<script lang="ts">
  import Button from "$lib/tidy/elements/Button.svelte";
  import { formatSeconds } from "$lib/tidy/utils/utils";
  import { createEventDispatcher } from "svelte";

  export let sessionElapsed: number;
  const dispatch = createEventDispatcher();
  function deleteHandler() {
    dispatch("delete");
  }
</script>

<div class="grow flex flex-col text-center items-center gap-4">
  <div>Session finished</div>
  <div class="flex text-h2">
    <div>Total session duration: &nbsp;</div>
    <div>{formatSeconds(sessionElapsed)}</div>
  </div>
  <div class="flex gap-2">
    <Button label="new session" type="primary" on:click />
    <Button label="delete this session" on:click={deleteHandler} />
  </div>
</div>
