<script lang="ts">
  import { sessionStore } from "$lib/local/stores/session.store";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  import { SessionType } from "$lib/local/types/sessionType.enum";
  import { Size } from "$lib/tidy/types/size.enum";
  import { formatSeconds } from "$lib/tidy/utils/utils";
  export let size: Size = Size.md;
  $: extentionElapsed =
    $sessionStore.type === SessionType.DYNAMIC && $sessionStore.plannedDuration
      ? $sessionStore.totalElapsed -
        ($sessionStore.plannedDuration - $sessionStore.totalExtended)
      : 0;
  $: labelClasses =
    `text-center ${
      size === Size.md ? "p-3 text-base" : "px-1 text-b3"
    }  text-bgs1 ` +
    ($sessionStore.state === SessionState.INTERVAL_COMPLETED ||
    $sessionStore.state === SessionState.INTERVAL_RUNNING ||
    $sessionStore.state === SessionState.TIME_IS_RUNNING_OUT
      ? "bg-accent1"
      : $sessionStore.state === SessionState.BREAK_COMPLETED ||
        $sessionStore.state === SessionState.BREAK_RUNNING
      ? "bg-accent2"
      : "bg-accent3");
  $: sessionLabel =
    $sessionStore.state === SessionState.TIME_IS_UP
      ? "TIME UP"
      : $sessionStore.state === SessionState.INTERVAL_COMPLETED
      ? "INTERVAL COMPLETED"
      : $sessionStore.state === SessionState.BREAK_COMPLETED
      ? "BREAK COMPLETED"
      : $sessionStore.state === SessionState.BREAK_RUNNING
      ? "BREAK"
      : "FOCUS";
</script>

<div class={labelClasses}>
  {sessionLabel}
  {#if extentionElapsed && extentionElapsed > 0 && $sessionStore.state != SessionState.TIME_IS_UP}
    | extended: {formatSeconds(extentionElapsed)}
  {/if}
</div>
