<script lang="ts">
  import { goto } from "$app/navigation";
  import { localStore } from "$lib/local/stores/local.store";
  import Button from "$lib/tidy/elements/Button.svelte";
  import { blank } from "$lib/tidy/stores/app.store";
  let isPlaying = false;

function togglePlay() {
  const audioElement = document.getElementById('audioPlayer');
  
  if (isPlaying) {
    audioElement.pause();
  } else {
    audioElement.play();
  }
  
  
  isPlaying = !isPlaying;
}
</script>
<audio id="audioPlayer" src="/sounds/studymusic.mp3" loop></audio>

<div class="flex flex-col gap-24 w-full">
  <div>
    {$localStore.appName} is a sub atom from
    <a href="https://tidigit.com"><u>Tidy Digital Kit</u></a> built at Blank COOP.
  </div>
  <div class="flex flex-col gap-4 w-3/4 self-center">
    <Button
      label={$localStore.appName + " roadmap"}
      disabled={true}
      on:click={() => {
        goto($localStore.subatom?.urls?.roadmap ?? $blank?.urls?.roadmap);
      }}
    />
    <Button
      label="Join us on discord"
      on:click={() => {
        goto($localStore.subatom?.urls?.discord ?? $blank?.urls?.discord);
      }}
    />
    <Button
      label="Read more about Blank COOP"
      disabled={true}
      on:click={() => {
        goto("https://docs.blank.coop");
      }}
      />
    <Button
      label="Focus Music"
      on:click={togglePlay}
    />
  </div>
</div>
