<script>
  import FormControlLabel from "$lib/tidy/elements/text/FormControlLabel.svelte";
  import TagsList from "./TagsList.svelte";
</script>

<div class="flex flex-col gap-8">
  <FormControlLabel
    label="Tags"
    info="You can create and associate tags when adding a new task by simply typing the tag and selecting from dropdown"
  />
  <TagsList />
</div>
